<style>
    .search {
        display: flex;
        justify-content: space-between
    }

    .search__box {
        border: 1px solid gray;
        border-radius: 10px;

        align-items: center;

    }

    .search input {}

    .search i {}

    .search .active .search__expanded {
        padding: 10px 8px;
        opacity: 1;
        pointer-events: auto;
        min-width: 211px;

    }

    .search__expanded {
        overflow-y: auto;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        background-color: #dada;


    }

    .search__expanded li {
        list-style: none;
        padding 11px 12px;
        margin-bottom: 11px;
        cursor: pointer;
        display: none;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
    }

    .search .active .search__expanded li {
        display: block;
    }

    .search__expanded li:hover {
        background: #dada;
    }

    .search__box i{
        margin-right: 5px;
        font-size: 21px;
        position: relative;
        top:5px;
        cursor: pointer;
    }
    .search__box i:hover{
        transform: scale(1.1);
    }
    .search__box input{
        border: none;
        outline: none;
        border-radius: 10px;
        position: relative;
        top:5px;
        margin:5px
    }



    .class-item .hidden {
        display: none;
    }



    @keyframes animate {
        0% {
            transform: scale(0.5);
        }

        100% {
            transform: scale(1);
        }
    }

    .class-item .showing {
        animation: animate 0.8s ease;
        background: red;
        display: none;
    }
</style>










<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="page-title mb-0 p-0">Table</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Course</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-6 col-4 align-self-center">
                <div class="text-end upgrade-btn">
                    <a href="/courses/insert" class="btn btn-success d-none d-md-inline-block text-white">Add Course</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- column -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <header class="search">
                            <h4 class="card-title">List of Courses In Our System</h4>

                            <div class="search__box">
                                <input type="text">
                                <i class="fas fa-search inputIcon"></i>
                                <div class="search__expanded">
                                    <li>hello world</li>
                                    <li>hello world</li>
                                    <li>hello world</li>
                                    <li>hello world</li>
                                    <li>hello world</li>

                                </div>

                            </div>

                        </header>

                        <div class="table-responsive">
                            <table class="table user-table no-wrap">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">#</th>
                                        <th class="border-top-0">Course Name</th>
                                        <th class="border-top-0">Price</th>
                                        <th class="border-top-0"></th>
                                        <th class="border-top-0"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#if invalidDeletion}}
                                    <div id="invalidDelation"></div>
                                    {{/if}}
                                    {{#each courses}}
                                    
                                        <tr class="courseItem" name = "{{this._name}}">
                                            <td>{{@index}}</td>
                                            <td>{{this._name}}</td>
                                            <td>{{this._price}}</td>
                                            <td><a href='/courses/delete/{{this._course_ID}}'
                                                    style="text-decoration: none;">Delete</a></td>
                                            <td><a href='/courses/update/{{this._course_ID}}'
                                                    style="text-decoration: none;">Edit</a></td>
                                        </tr>

                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">

                {{#paginate pagination type="previous"}}
                <li {{#if disabled}}class="page-item disabled" {{/if}}><a a class="page-link" href="?p={{n}}">Prev</a>
                </li>
                {{/paginate}}
                {{#paginate pagination type="middle" limit="3"}}
                <li {{#if active}}class="page-item active" {{/if}}><a a class="page-link" href="?p={{n}}">{{n}}</a></li>
                {{/paginate}}
                {{#paginate pagination type="next"}}
                <li {{#if disabled}}class="page-item disabled" {{/if}}><a a class="page-link" href="?p={{n}}">Next</a>
                </li>
                {{/paginate}}

            </ul>
        </nav>
    </div>

    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>


<script>
    const search = document.querySelector(".search__box");
    const input = search.querySelector("input");
    const expand = search.querySelector(".search__expanded");

    const course = document.querySelectorAll(".courseItem");
    const icon = document.querySelector(".inputIcon");


    let suggestion = ["hello", "world", "sth", "to", "do", "hi", "hey hey hey hey hey hey hey hey hey heyhey hey hey hey hey hey"];

    course.forEach((i) => {
        let courseName = i.getAttribute("name").toLowerCase();
        suggestion.push(courseName);
    });


    let validCourse = [];

    icon.onclick = (selectedItem) =>{

        let valuedata = input.value.toLocaleLowerCase();
        console.log(valuedata);
        if (valuedata.length){
            console.log("start");
            
            course.forEach((j) => {
                console.log("nest");
                let courseName = j.getAttribute("name").toLowerCase();
                console.log(courseName);
                if(courseName.startsWith(valuedata)){
                    j.classList.remove("hidden");
                    j.classList.add("showing");
                }
                else{
                    j.classList.add("hidden");
                    j.classList.remove("showing");
                }
            });
   
        }
    }

   

   

    input.onkeyup = (e) => {
        let userData = e.target.value;
        let emptyArray = [];
        

        console.log(suggestion);
        
        if (userData) {
            emptyArray = suggestion.filter((value) => value.startsWith(userData.toLocaleLowerCase()));


            emptyArray = emptyArray.map((data) => {
                return data = '<li>' + data + '</li>';

            });
            console.log(emptyArray);
            search.classList.add("active");
            showExpand(emptyArray);
            let allList = search.querySelectorAll("li");
            for (let i = 0; i < allList.length; i++) {
                allList[i].setAttribute("onclick", "select(this)");
            }
        }
        else {
            search.classList.remove("active");
        }

    }

    function select(element) {
        let selectetUser = element.textContent;
        input.value = selectetUser;
        search.classList.remove("active");
    }

    function showExpand(list) {
        let listData;

        if (!list.length) {
            userValue = input.value;
            listData = '<li>' + userValue + '</li>';
        }
        else {
            listData = list.join('');
        }
        expand.innerHTML = listData;
    }

    window.onload = function(){
        if (document.getElementById('invalidDelation')!==null)
            alert("Can't delete this course because there are some student registrated this course")
    }
</script>