
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="page-title mb-0 p-0">Table</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Course</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-6 col-4 align-self-center">
                <div class="text-end upgrade-btn">
                    <a href="/courses/insert" class="btn btn-success d-none d-md-inline-block text-white">Add Course</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- column -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <header class="search">
                            <h4 class="card-title">List of Courses In Our System</h4>

                            <div class="search__box">
                                <input type="text">
                                <i class="fas fa-search"></i>
                                <div class="search__expanded">
                                    <li>hello world</li>
                                    <li>hello world</li>
                                    <li>hello world</li>
                                    <li>hello world</li>
                                    <li>hello world</li>

                                </div>
                               
                            </div>

                        </header>

                        <div class="table-responsive">
                            <table class="table user-table no-wrap">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">#</th>
                                        <th class="border-top-0">Course Name</th>
                                        <th class="border-top-0">Price</th>
                                        <th class="border-top-0"></th>
                                        <th class="border-top-0"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each courses}}
                                    <tr>
                                        <td>{{@index}}</td>
                                        <td>{{this._name}}</td>
                                        <td>{{this._price}}</td>
                                        <td><a href='/courses/delete/{{this._course_ID}}'
                                                style="text-decoration: none;">Delete</a></td>
                                        <td><a href='/courses/update/{{this._course_ID}}'
                                                style="text-decoration: none;">Edit</a></td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">

                {{#paginate pagination type="previous"}}
                <li {{#if disabled}}class="page-item disabled" {{/if}}><a a class="page-link" href="?p={{n}}">Prev</a>
                </li>
                {{/paginate}}
                {{#paginate pagination type="middle" limit="3"}}
                <li {{#if active}}class="page-item active" {{/if}}><a a class="page-link" href="?p={{n}}">{{n}}</a></li>
                {{/paginate}}
                {{#paginate pagination type="next"}}
                <li {{#if disabled}}class="page-item disabled" {{/if}}><a a class="page-link" href="?p={{n}}">Next</a>
                </li>
                {{/paginate}}

            </ul>
        </nav>
    </div>

    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>