<div class="page-wrapper">
    <!doctype html>
    <html lang="en">

    <head>
        <title>Contact Form 02</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="/admin/css/style.css">

    </head>

    <body>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        
                            <div class="row no-gutters" style="justify-content: center">
                                <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                                    <div class="contact-wrap w-100 p-md-5 p-4">
                                        <h3 class="mb-4">Get in touch</h3>
                                        <div id="form-message-warning" class="mb-4"></div>
                                        <div id="form-message-success" class="mb-4">
                                            Your message was sent, thank you!
                                        </div>
                                        <form method="POST" enctype="multipart/form-data" action="/courses/update/p/{{course._course_ID}}" class="contactForm">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="name">Course Name</label>
                                                        <input type="text" class="form-control" name="_courseName" id="name"
                                                            placeholder="Name" value={{course._name}}>
                                                    </div>
                                                </div>
                                                

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="maxNumber">Price</label>
                                                        <input type="number" class="form-control" name="_price"
                                                            id="maxNumber" placeholder="Price" min="0" value={{course._price}}>
                                                    </div>
                                                </div>

                                                

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="room">Star:</label>

                                                       <input type="number" class="form-control" name="_star"
                                                            id="room" placeholder="Star" value={{course._star}}>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="image">Upload Image</label>
                                                       <input type="file" class="form-control" name="_image"
                                                            id="image" >
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="label" for="#">Brief Description:</label>
                                                        <textarea type="text" name="_brief_description" class="form-control" id="message" cols="30" rows="2"
                                                            placeholder="Brief Description">{{course._brief_description}}</textarea>
                                                    </div>
                                                </div>
                                               
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="label" for="#">Description:</label>
                                                        <textarea name="_description" class="form-control" id="message"
                                                            cols="30" rows="4" placeholder="Description" >{{course._description}}</textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="submit" value="Send Message"
                                                            class="btn btn-primary">
                                                        <div class="submitting"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="/admin/js/jquery.min.js"></script>
        <script src="/admin/js/popper.js"></script>
        <script src="/admin/js/bootstrap.min.js"></script>
        <script src="/admin/js/jquery.validate.min.js"></script>
        <script src="/admin/js/main.js"></script>

    </body>

    </html>


</div>