<style>
   
    @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    *{
        padding:0;
        margin:0;
        box-sizing: border-box;
       z-index:auto;
    }
    html,body{
        {{!-- height: 100vh;
        display:grid;
        place-items: center; --}}
    }

    .calendar{
        margin:10px;
        height: max-content;
        width: max-content;
        font-family: 'Libre Franklin', sans-serif;
        background-color: #FED1EF ;
        border-radius: 20px;
        padding:10px;
        position: relative;
        overflow:hidden;
        box-shadow: 5px 5px 5px 5px rgba(2, 12, 1, .2);
    }

    .calendar__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size:30px;
        font-weight: 500;
        padding:10px;
    }

    .calendar__body{
        padding:10px;
        
    }

    .calender__week-day{
        display: grid;
        grid-template-columns: repeat(7,1fr);
        font-size: 400;

    }
    .calender__week-day div{
        display: grid;
        place-items: center;
        color:grey;
    }

    .calender__days{
        display: grid;
        grid-template-columns: repeat(7,1fr);
        gap:3px;
        color: black;
    }
    .calender__days div{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor:pointer;
        
    }

    .calender__month-picker{
        border-radius: 10px;
        cursor: pointer;
    }

    .calender__month-picker:hover{
        background: #BAABDA;
    }


    .calander__year-picker{
        display: flex;
        align-items: center;
    }
    .calender__year-change{
        height: 40px;
        width: 40px;
        border-radius: 45px;
        display: grid;
        place-items: center;
        margin:0 10px;
        cursor:pointer;
    }

    {{!-- .calender__year-change:hover{
        background: #BAABDA;
    } --}}

    .calendar__month-list{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #FED1EF;
        display: grid;
        grid-template-columns: repeat(3,auto);
        padding:20px;
        gap:5px;
        transform: scale(1.5);

        visibility:hidden;
        pointer-events: none;
        transition: all 0.2s ease-in;

    }

    .calendar__month-list.show{
        transform: scale(1);
        visibility: visible;
        pointer-events: visible;
    }

    .calendar__month-list > div{
        display: grid;
        place-items: center;
    }
    .calendar__month-list > div>div{
        width: 100%;
        padding:10px 10px;
        text-align: center;
        cursor:pointer;
    }


    .curr-date{
        background: #BAABDA;
        border-radius: 10px;
    }
    .calender__day-hover:hover{
        background: #BAABDA;
        border-radius: 10px;
    }

    .hold_date{
        border-bottom: 2px solid white;
    }


    .eachRow{
        
        position: absolute;

        transform: scale(1.5);
        visibility: hidden;
        pointer-events: none;
        cursor: pointer;
    }
    .eachRow.show{
        
        position: relative; 
        transform: scale(1);
        visibility: visible;
        pointer-events: visible;
    }

    .dosth .showsth{
        position: absolute;
        z-index:1;
        background: red;
        visibility: visible;
        pointer-events: visible;
    }



    .bg-year {
        background-color: red!important;
    }

    .rowDay{
        display: inline-block;
    }

    .dosth{
        position: fixed;
        right:20px;
        z-index:1;
        background: red;
        visibility:hidden;
        pointer-events: none;
    }
    

</style>








<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="page-title mb-0 p-0">Dashboard</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-6 col-4 align-self-center">
                <div class="text-end upgrade-btn">
                    <a href="/register" class="btn btn-success d-none d-md-inline-block text-white">Upgrade to
                        Pro</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Sales chart -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- Column -->
            <div class='rowDay'>
                {{#each _date}}
                <div class="eachRow col-sm-6" name = {{this.date}}>
                    <div >
                        <div class="card">
                            <div class="card-body" >
                                <h4 class="card-title">Daily Sales</h4>
                                <div class="text-end">
                                    <h2 class="font-light mb-0"><i class="ti-arrow-up text-success"></i> $120</h2>
                                    <span class="text-muted">Todays Income</span>
                                </div>
                                <span class="text-success">{{this.date}}</span>

                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 80%; height: 6px;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {{/each}}
            </div> 
            <!-- Column -->



            <div class='rowWeek'>
                {{#each _date}}
                <div class="eachRow col-sm-6" name = {{this.date}}>
                    <div class="signalWeek" name = {{this.count}}>
                        <div class="card">
                            <div class="card-body" >
                                <h4 class="card-title">Daily Sales</h4>
                                <div class="text-end">
                                    <h2 class="font-light mb-0"><i class="ti-arrow-up text-success"></i> $120</h2>
                                    <span class="text-muted">Todays Income</span>
                                </div>
                                <span class="text-success">{{this.date}}</span>

                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 80%; height: 6px;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {{/each}}
            </div> 



            
            <!-- Column -->
            <div class='rowMonth'>
                {{#each _month}}
                <div class="eachRow col-sm-6" name = {{this.date}}>
                     <div >
                        <div class="card">
                            <div class="card-body" >
                                <h4 class="card-title">Monthly Sales</h4>
                                <div class="text-end">
                                    <h2 class="font-light mb-0"><i class="ti-arrow-up text-success"></i> $120</h2>
                                    <span class="text-muted">Todays Income</span>
                                </div>
                                <span class="text-success">{{this.date}}</span>

                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%; height: 6px;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                {{/each}}
            </div> 

            
            <!-- Column -->
            <div class="sthh">

            <div class='rowYear'>
                {{#each _year}}
                <div class="eachRow col-sm-6" name = {{this.date}}>
                    <div>
                        <div class="card">
                            <div class="card-body" >
                                <h4 class="card-title">Yearly Sales</h4>
                                <div class="text-end">
                                    <h2 class="font-light mb-0"><i class="ti-arrow-up text-success"></i> $120</h2>
                                    <span class="text-muted">Todays Income</span>
                                </div>
                                <span class="text-success">{{this.date}}</span>

                                <div class="progress">
                                    <div class="progress-bar bg-year" role="progressbar" style="width: 80%; height: 6px;"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                {{/each}}
            </div> 
           



            
            </div>
            <!-- Column -->
            <div class="col-sm-6">
                <div class="calendar">
                    <div class="calendar__header">
                        <span class="calender__month-picker" id = "calender__month-picker" >
                            February
                        </span>
                        <div class="calander__year-picker">
                            <span class="calender__year-change" id="calender__prev-year">
                                <pre> < </pre>
                            </span>
                            <span id="calender__year">
                                2021
                            </span>
                            <span class="calender__year-change" id="calender__next-year">
                                <pre> > </pre>
                            </span>
                        </div>
                    </div>

                    <div class="calendar__body">
                        
                        <div class="calender__week-day">
                            <div>Sun</div>
                            <div>Mon</div>
                            <div>Tue</div>
                            <div>Wes</div>
                            <div>Thu</div>
                            <div>Fri</div>
                            <div>Sat</div>
                        </div>

                        <div class="calender__days">
                            <div>1
                                <span></span><span></span><span></span>
                            </div>
                            <div>2</div>
                            <div>3</div>
                            <div>4</div>
                            <div>5</div>
                            <div>6</div>
                            <div>7</div>
                            <div>1</div>
                            <div>2</div>
                            <div>3</div>
                            <div>4</div>
                            <div>5</div>
                            <div>6</div>
                            <div>7</div>
                            
                        </div>

                    </div>

                    <div class="calendar__month-list">

                    </div>
                   
                </div>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- Sales chart -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- column -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Revenue Statistics</h4>
                        
                                <canvas id="myChart" ></canvas>
                    </div>
                </div>
            </div>
            <!-- column -->
        </div>
        <!-- ============================================================== -->
        <!-- Table -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex">
                            <h4 class="card-title col-md-10 mb-md-0 mb-3 align-self-center">Projects of the Month</h4>
                            <div class="col-md-2 ms-auto">
                                <select class="form-select shadow-none col-md-2 ml-auto slectionItem">
                                    <option value="0">Courses</option>
                                    <option value="1">Classes</option>
                                    
                                </select>
                            </div>
                        </div>
                        <div class="table-responsive mt-5">
                            <table class="table stylish-table no-wrap">
                                <thead>
                                    <tr>
                                        <th class="border-top-0" colspan="2">Assigned</th>
                                        <th class="border-top-0">Name</th>
                                        <th class="border-top-0">Budget</th>
                                    </tr>
                                </thead>
                                <tbody>

                                  
                                        {{#each courses}}
                                        <tr class="courseItem" name="{{this._name}}">
                                            <td>{{@index}}</td>
                                            <td>{{this._name}}</td>
                                            <td class="coursePrice" name="{{this._price}}">{{this._price}}</td>
                                            <td><a href='/courses/delete/{{this._course_ID}}'
                                                    style="text-decoration: none;">Delete</a></td>
                                            <td><a href='/courses/update/{{this._course_ID}}'
                                                    style="text-decoration: none;">Edit</a></td>
                                        </tr>
                                    {{/each}}

                                   


                                        {{#each classes}}
                                        <tr class="classItem hidden" name="{{this._className}}">
                                            <td>{{@index}}</td>
                                            <td>{{this._className}}</td>
                                            <td>{{this._maxNumber}}</td>
                                            <td><a href='/courses/delete/{{this._class_ID}}'
                                                    style="text-decoration: none;">Delete</a></td>
                                            <td><a href='/courses/update/{{this._class_ID}}'
                                                    style="text-decoration: none;">Edit</a></td>
                                        </tr>
                                    {{/each}}

                                    
                                    


                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Table -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Recent blogss -->
        <!-- ============================================================== -->
        <div class="row justify-content-center">
            <!-- Column -->
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <img class="card-img-top img-responsive" src="/assets/images/big/img1.jpg" alt="Card">
                    <div class="card-body">
                        <ul class="list-inline d-flex align-items-center">
                            <li class="ps-0">20 May 2021</li>
                            <li class="ms-auto"><a href="javascript:void(0)" class="link">3 Comment</a></li>
                        </ul>
                        <h3 class="font-normal">Featured Hydroflora Pots Garden &amp; Outdoors</h3>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <img class="card-img-top img-responsive" src="/assets/images/big/img2.jpg" alt="Card">
                    <div class="card-body">
                        <ul class="list-inline d-flex align-items-center">
                            <li class="ps-0">20 May 2021</li>
                            <li class="ms-auto"><a href="javascript:void(0)" class="link">3 Comment</a></li>
                        </ul>
                        <h3 class="font-normal">Featured Hydroflora Pots Garden &amp; Outdoors</h3>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <img class="card-img-top img-responsive" src="/assets/images/big/img4.jpg" alt="Card">
                    <div class="card-body">
                        <ul class="list-inline d-flex align-items-center">
                            <li class="ps-0">20 May 2021</li>
                            <li class="ms-auto"><a href="javascript:void(0)" class="link">3 Comment</a></li>
                        </ul>
                        <h3 class="font-normal">Featured Hydroflora Pots Garden &amp; Outdoors</h3>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
        <!-- ============================================================== -->
        <!-- Recent blogss -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->


<script>


    const selections = document.querySelector(".slectionItem");
    const courses = document.querySelectorAll(".courseItem");
    const classes = document.querySelectorAll(".classItem");

   


    selections.onclick = () => {
        var selectedValue = selections.options[selections.selectedIndex].value;

        if(selectedValue == "0"){
            classes.forEach((i) => {
                i.classList.remove("showing");
                i.classList.add("hidden");

            });
            courses.forEach((i) => {
                i.classList.remove("hidden");
                i.classList.add("showing");

            });
        }
        else{
            courses.forEach((i) => {
                i.classList.remove("showing");
                i.classList.add("hidden");

            });
            classes.forEach((i) => {
                i.classList.remove("hidden");
                i.classList.add("showing");

            });
        }
       
    }













</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>


<script>

    

    const courseName =  document.querySelectorAll(".courseItem");
    const coursesPrice = document.querySelectorAll(".coursePrice");
    const labelCourse = [];
    const valuePrice = [];
    

    courseName.forEach((i) => {
        let tempName = i.getAttribute("name");
        labelCourse.push(tempName);
    });

    coursesPrice.forEach((i) => {
        let tempPrice = Number( i.getAttribute("name"));
        console.log(tempPrice);
        valuePrice.push(tempPrice);
    });

    console.log("start");
    labelCourse.forEach((i) => {
        console.log(i);
    });
    console.log("end");


 
        
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labelCourse,
            datasets: [{
                label: '# of Votes',
                data: valuePrice,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 19, 64, 0.2)',
                    'rgba(255, 119, 11, 0.2)',
                    'rgba(25, 159, 77, 0.2)',
                    'rgba(55, 19, 64, 0.2)',
                    'rgba(55, 159, 624, 0.2)',
                    'rgba(25, 159, 4, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 119, 11, 1)',
                    'rgba(25, 159, 77, 1)',
                    'rgba(55, 19, 64, 1)',
                    'rgba(55, 159, 624, 1)',
                    'rgba(25, 159, 4, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive:true,
        }
    });


</script>





<script>
    console.log("STH");

    isLeapYear = (year)=>{
        return (year%4===0 && year%100!=0 &&year%400!=0 )
        || (year%100===0 &&year%400===0)
    }

    getFebDay = (year) => {
        return isLeapYear(year)?29:28;
    }

    let canlendar = document.querySelector('.calendar');
    const monthName = ['January', 'February', 'March',
                        'April','May','June',
                        'July', 'August','Septempber',
                        'October', 'November','December']

    let calenderMonth = document.querySelector('#calender__month-picker');
    let rowDate = document.querySelector('.rowDay');
    let rowMonth = document.querySelector('.rowMonth');
    let rowYear = document.querySelector('.rowYear');





    createTemplateYear = (year) =>{
      
                    let tempBox = document.querySelectorAll('.rowYear .eachRow')
                  
                    
                    let _flag = false;
                    if(tempBox!=null){
                        
                        console.log("Hi")
                        console.log(tempBox)
                        tempBox.forEach((x)=>{
                            console.log(year);
                            console.log(x.getAttribute("name"));

                            let dateAttribute =  x.getAttribute("name").split('-');
                            if(Number(dateAttribute[0])===year){
                                _flag = true;
                                console.log("SHOW")
                                tempBox.forEach((k)=>{
                                    k.classList.remove("show");
                                });
                                x.classList.add("show");
                            }
                            
                        })
                    }
                    if(_flag === false){
                        console.log("HELLO")
                        let createDate = document.createElement('div');
                        createDate.innerHTML = `
                                                  <div> 
                                                <div class="card">
                                                    <div class="card-body" name = STH>
                                                        <h4 class="card-title">Yearly Sales</h4>
                                                        <div class="text-end">
                                                            <h2 class="font-light mb-0"><i class="ti-arrow-up text-success"></i> $120</h2>
                                                            <span class="text-muted">Todays Income</span>
                                                        </div>
                                                        <span class="text-success">${'name',year}</span>

                                                        <div class="progress">
                                                            <div class="progress-bar bg-info" role="progressbar" style="width: 80%; height: 6px;"
                                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                    </div> 



                                                
                                                `
                        tempBox.forEach((k)=>{
                            k.classList.remove("show");
                        });
                        createDate.className =  "eachRow col-sm-6 show"
                        createDate.setAttribute('name',year)
                        rowYear.appendChild(createDate)
                    }
    }





    createTemplateMonth = (year, month ) =>{
      
                    let tempBox = document.querySelectorAll('.rowMonth .eachRow')
                  
                    
                    let _flag = false;
                    if(tempBox!=null){
                        
                        console.log("Hi")
                        console.log(tempBox)
                        tempBox.forEach((x)=>{
                            console.log(year+'-'+(1+month));
                            console.log(x.getAttribute("name"));

                            let dateAttribute =  x.getAttribute("name").split('-');
                            if(Number(dateAttribute[0])===year && 
                            Number(dateAttribute[1])===(1+month)){
                                _flag = true;
                                console.log("SHOW")
                                tempBox.forEach((k)=>{
                                    k.classList.remove("show");
                                });
                                x.classList.add("show");
                            }
                            
                        })
                    }
                    if(_flag === false){
                        console.log("HELLO")
                        let createDate = document.createElement('div');
                        createDate.innerHTML = `
                                                  <div> 
                                                <div class="card">
                                                    <div class="card-body" name = STH>
                                                        <h4 class="card-title">Monthly Sales</h4>
                                                        <div class="text-end">
                                                            <h2 class="font-light mb-0"><i class="ti-arrow-up text-success"></i> $120</h2>
                                                            <span class="text-muted">Todays Income</span>
                                                        </div>
                                                        <span class="text-success">${'name',year+'-'+(1+month)}</span>

                                                        <div class="progress">
                                                            <div class="progress-bar bg-info" role="progressbar" style="width: 80%; height: 6px;"
                                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                    </div> 
                                                `
                        tempBox.forEach((k)=>{
                            k.classList.remove("show");
                        });
                        createDate.className =  "eachRow col-sm-6 show"
                        createDate.setAttribute('name',year+'-'+(1+month))
                        rowMonth.appendChild(createDate)
                    }
    }








    createTemplateDate = (day,year, month, first_data, i) =>{
        let tempDate = document.querySelectorAll('.calender__day-hover');
                    let tempBox = document.querySelectorAll('.rowDay .eachRow')
                    
                    tempDate.forEach((x)=>{
                        x.classList.remove("hold_date");
                    });
                    day.classList.add("hold_date");
                    let _flag = false;
                    if(tempBox!=null){
                        
                        console.log("Hi")
                        console.log(tempBox)
                        tempBox.forEach((x)=>{
                            

                            console.log(year+'-'+(1+month)+'-'+(i - first_data+ 1));
                            console.log(x.getAttribute("name"));

                            let dateAttribute =  x.getAttribute("name").split('-');
                            if(Number(dateAttribute[0])===year && 
                            Number(dateAttribute[1])===(1+month) && 
                            Number(dateAttribute[2])=== (i - first_data+ 1)){
                                _flag = true;
                                console.log("SHOW")
                                tempBox.forEach((k)=>{
                                    k.classList.remove("show");
                                });
                                x.classList.add("show");
                            }
                            
                        })
                    }
                    if(_flag === false){
                        console.log("HELLO")
                        let createDate = document.createElement('div');
                        createDate.innerHTML = `
                                                  <div> 
                                                <div class="card">
                                                    <div class="card-body" name = STH>
                                                        <h4 class="card-title">Daily Sales</h4>
                                                        <div class="text-end">
                                                            <h2 class="font-light mb-0"><i class="ti-arrow-up text-success"></i> $120</h2>
                                                            <span class="text-muted">Todays Income</span>
                                                        </div>
                                                        <span class="text-success">${'name',year+'-'+(1+month)+'-'+(i - first_data+ 1)}</span>

                                                        <div class="progress">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 80%; height: 6px;"
                                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                    </div> 

                                                `
                        tempBox.forEach((k)=>{
                            k.classList.remove("show");
                        });
                        createDate.className =  "eachRow col-sm-6 show"
                        createDate.setAttribute('name',year+'-'+(1+month)+'-'+(i - first_data+ 1))
                        rowDate.appendChild(createDate)
                    }
    }




    function getMonday(d) {
        d = new Date(d);
        var day = d.getDay(),
            diff = d.getDate() - day + (day == 0 ? -6:1); // adjust when day is sunday
        return new Date(d.setDate(diff));
        }



    
    createTemplateWeek = (day,year, month, first_data, i) =>{
        
                    let tempBox = document.querySelectorAll('.rowWeek .eachRow')


                    
                   
                    let _flag = false;
                    if(tempBox!=null){
                        
                        console.log("Hi")
                        console.log(tempBox)
                        tempBox.forEach((x)=>{
                            

                            console.log(year+'-'+(1+month)+'-'+(i - first_data+ 1));
                            console.log(x.getAttribute("name"));

                            let dateAttribute =  x.getAttribute("name").split('-');
                            if(Number(dateAttribute[0])===year && 
                            Number(dateAttribute[1])===(1+month) && 
                            Number(dateAttribute[2])=== (i - first_data+ 1)){
                                _flag = true;
                                console.log("SHOW")
                                tempBox.forEach((k)=>{
                                    k.classList.remove("show");
                                });
                                x.classList.add("show");
                            }
                            
                        })
                    }
                    if(_flag === false){
                        console.log("HELLO")
                        let createDate = document.createElement('div');
                        createDate.innerHTML = `
                                                  <div> 
                                                <div class="card">
                                                    <div class="card-body" name = STH>
                                                        <h4 class="card-title">Daily Sales</h4>
                                                        <div class="text-end">
                                                            <h2 class="font-light mb-0"><i class="ti-arrow-up text-success"></i> $120</h2>
                                                            <span class="text-muted">Todays Income</span>
                                                        </div>
                                                        <span class="text-success">${'name',year+'-'+(1+month)+'-'+(i - first_data+ 1)}</span>

                                                        <div class="progress">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 80%; height: 6px;"
                                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                    </div> 

                                                `
                        tempBox.forEach((k)=>{
                            k.classList.remove("show");
                        });
                        createDate.className =  "eachRow col-sm-6 show"
                        createDate.setAttribute('name',year+'-'+(1+month)+'-'+(i - first_data+ 1))
                        rowDate.appendChild(createDate)
                    }
    }









    generateDate=(calenderLastDay, first_data ,year, month, curDate, calendarDay)=>{
        

         for(let i = 0;i<=calenderLastDay[month]+first_data -1;i++){
            
            let day =  document.createElement('div');
            
           
            if(i >= first_data){
                
                day.classList.add('calender__day-hover');
                day.onclick = () =>{
                    createTemplateDate(day,year, month, first_data,i);

                    
                }
                day.innerHTML = i - first_data+ 1;
                day.innerHTML+=`<span></span>
                                <span></span>
                                <span></span>
                                <span></span>`
                if (i- first_data+1 === curDate.getDate() 
                && year === curDate.getFullYear()&& month === curDate.getMonth()){
                    day.classList.add('curr-date');
                    createTemplateDate(day,year, month, first_data,i);
                }

            }
            calendarDay.appendChild(day);
        }
    }


    createCalender = (month,year) =>{
        console.log(month);
        console.log(year);





        let calendarDay = document.querySelector('.calender__days');
        calendarDay.innerHTML = '';
        let calendarHeaderYear = document.querySelector('#calender__year');
        let calenderLastDay = [31,getFebDay(year),31,30,31,30,31,31,30,31,30,31];
        

        let curDate = new Date();
        console.log( monthName)
        calenderMonth.innerHTML = monthName[month]
        calendarHeaderYear.innerHTML = year

        let firstDate = new Date(year, month, 1)
        console.log(year+'-'+month+'-'+1);
        console.log(firstDate.getDay());
        let first_data = firstDate.getDay();
        

        generateDate(calenderLastDay, first_data ,year, month, curDate, calendarDay);


        
    }

   



    let monthList = document.querySelector('.calendar__month-list');
    let montPicker = document.querySelector('#calender__month-picker')
    montPicker.onclick = () =>{
        monthList.classList.add('show')
    }
    


    document.querySelector('#calender__prev-year').onclick = ()=>{
        curYear.value-=1;
        createCalender(curMonth.value, curYear.value);
        createTemplateYear(curYear.value);
    }

    document.querySelector('#calender__next-year').onclick = ()=>{
        curYear.value+=1;
        createCalender(curMonth.value, curYear.value);
        createTemplateYear(curYear.value);

    }


    

    monthName.forEach((e, index)=>{
            let month = document.createElement('div');
            month.onclick = ()=>{
                createTemplateMonth(curYear.value, curMonth.value, index);
                monthList.classList.remove('show')
                curMonth.value = index;
                createCalender(curMonth.value, curYear.value)
                createTemplateMonth(curYear.value, curMonth.value, index);
            }
            month.innerHTML = `<div>${e}</div>`;
            monthList.appendChild(month);

        });

    let curDate= new Date();
    let curMonth = {value: curDate.getMonth()}
    let curYear = {value: curDate.getFullYear()}
    console.log("MONTH")
    console.log(curMonth.value)
    createCalender(curMonth.value, curYear.value)
    createTemplateMonth(curYear.value, curMonth.value);
    createTemplateYear(curYear.value);

    {{!-- let tempBox = document.querySelectorAll('.rowDay .eachRow')
    tempBox.forEach((x)=>{
        let sttt = document.querySelectorAll('.dosth')
        x.onclick = ()=>{
            console.log("CLICK")
            sttt.forEach((k)=>{
                console.log(x.getAttribute("name"))
                console.log(k.getAttribute("name"))


                let xAttribute =  x.getAttribute("name").split('-');
                let kAttribute =  k.getAttribute("name").split('-');
                if(Number(xAttribute[0])===Number(kAttribute[0]) && 
                Number(xAttribute[1]) === Number(kAttribute[0])&&
                Number(xAttribute[2]) === Number(kAttribute[0])){
                    console.log("ADD")
                    k.classList.add("showTool");
                }
            });
        }   
    }); --}}


</script>





