<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="page-title mb-0 p-0">Dashboard</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-6 col-4 align-self-center">
                <div class="text-end upgrade-btn">
                    <a href="/register" class="btn btn-success d-none d-md-inline-block text-white">Upgrade to
                        Pro</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Sales chart -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- Column -->
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Daily Sales</h4>
                        <div class="text-end">
                            <h2 class="font-light mb-0"><i class="ti-arrow-up text-success"></i> $120</h2>
                            <span class="text-muted">Todays Income</span>
                        </div>
                        <span class="text-success">80%</span>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 80%; height: 6px;"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Weekly Sales</h4>
                        <div class="text-end">
                            <h2 class="font-light mb-0"><i class="ti-arrow-up text-info"></i> $5,000</h2>
                            <span class="text-muted">Todays Income</span>
                        </div>
                        <span class="text-info">30%</span>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 30%; height: 6px;"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
        <!-- ============================================================== -->
        <!-- Sales chart -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- column -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Revenue Statistics</h4>
                        
                                <canvas id="myChart" ></canvas>
                    </div>
                </div>
            </div>
            <!-- column -->
        </div>
        <!-- ============================================================== -->
        <!-- Table -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex">
                            <h4 class="card-title col-md-10 mb-md-0 mb-3 align-self-center">Projects of the Month</h4>
                            <div class="col-md-2 ms-auto">
                                <select class="form-select shadow-none col-md-2 ml-auto slectionItem">
                                    <option value="0">Courses</option>
                                    <option value="1">Classes</option>
                                </select>
                            </div>
                        </div>
                        <div class="table-responsive mt-5">
                            <table class="table stylish-table no-wrap">
                                <thead>
                                    <tr>
                                        <th class="border-top-0" colspan="2">Assigned</th>
                                        <th class="border-top-0">Name</th>
                                        <th class="border-top-0">Budget</th>
                                    </tr>
                                </thead>
                                <tbody>

                                  
                                        {{#each courses}}
                                        <tr class="courseItem" name="{{this._name}}">
                                            <td>{{@index}}</td>
                                            <td>{{this._name}}</td>
                                            <td class="coursePrice" name="{{this._price}}">{{this._price}}</td>
                                            <td><a href='/courses/delete/{{this._course_ID}}'
                                                    style="text-decoration: none;">Delete</a></td>
                                            <td><a href='/courses/update/{{this._course_ID}}'
                                                    style="text-decoration: none;">Edit</a></td>
                                        </tr>
                                    {{/each}}

                                   


                                        {{#each classes}}
                                        <tr class="classItem hidden" name="{{this._className}}">
                                            <td>{{@index}}</td>
                                            <td>{{this._className}}</td>
                                            <td>{{this._maxNumber}}</td>
                                            <td><a href='/courses/delete/{{this._class_ID}}'
                                                    style="text-decoration: none;">Delete</a></td>
                                            <td><a href='/courses/update/{{this._class_ID}}'
                                                    style="text-decoration: none;">Edit</a></td>
                                        </tr>
                                    {{/each}}

                                    
                                    


                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Table -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Recent blogss -->
        <!-- ============================================================== -->
        <div class="row justify-content-center">
            <!-- Column -->
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <img class="card-img-top img-responsive" src="/assets/images/big/img1.jpg" alt="Card">
                    <div class="card-body">
                        <ul class="list-inline d-flex align-items-center">
                            <li class="ps-0">20 May 2021</li>
                            <li class="ms-auto"><a href="javascript:void(0)" class="link">3 Comment</a></li>
                        </ul>
                        <h3 class="font-normal">Featured Hydroflora Pots Garden &amp; Outdoors</h3>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <img class="card-img-top img-responsive" src="/assets/images/big/img2.jpg" alt="Card">
                    <div class="card-body">
                        <ul class="list-inline d-flex align-items-center">
                            <li class="ps-0">20 May 2021</li>
                            <li class="ms-auto"><a href="javascript:void(0)" class="link">3 Comment</a></li>
                        </ul>
                        <h3 class="font-normal">Featured Hydroflora Pots Garden &amp; Outdoors</h3>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <img class="card-img-top img-responsive" src="/assets/images/big/img4.jpg" alt="Card">
                    <div class="card-body">
                        <ul class="list-inline d-flex align-items-center">
                            <li class="ps-0">20 May 2021</li>
                            <li class="ms-auto"><a href="javascript:void(0)" class="link">3 Comment</a></li>
                        </ul>
                        <h3 class="font-normal">Featured Hydroflora Pots Garden &amp; Outdoors</h3>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
        <!-- ============================================================== -->
        <!-- Recent blogss -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->


<script>


    const selections = document.querySelector(".slectionItem");
    const courses = document.querySelectorAll(".courseItem");
    const classes = document.querySelectorAll(".classItem");

   


    selections.onclick = () => {
        var selectedValue = selections.options[selections.selectedIndex].value;

        if(selectedValue == "0"){
            classes.forEach((i) => {
                i.classList.remove("showing");
                i.classList.add("hidden");

            });
            courses.forEach((i) => {
                i.classList.remove("hidden");
                i.classList.add("showing");

            });
        }
        else{
            courses.forEach((i) => {
                i.classList.remove("showing");
                i.classList.add("hidden");

            });
            classes.forEach((i) => {
                i.classList.remove("hidden");
                i.classList.add("showing");

            });
        }
       
    }













</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>


<script>

    

    const courseName =  document.querySelectorAll(".courseItem");
    const coursesPrice = document.querySelectorAll(".coursePrice");
    const labelCourse = [];
    const valuePrice = [];
    

    courseName.forEach((i) => {
        let tempName = i.getAttribute("name");
        labelCourse.push(tempName);
    });

    coursesPrice.forEach((i) => {
        let tempPrice = Number( i.getAttribute("name"));
        console.log(tempPrice);
        valuePrice.push(tempPrice);
    });

    console.log("start");
    labelCourse.forEach((i) => {
        console.log(i);
    });
    console.log("end");

    
        
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labelCourse,
            datasets: [{
                label: '# of Votes',
                data: [1,2,3,4,5,6,6],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 19, 64, 0.2)',
                    'rgba(255, 119, 11, 0.2)',
                    'rgba(25, 159, 77, 0.2)',
                    'rgba(55, 19, 64, 0.2)',
                    'rgba(55, 159, 624, 0.2)',
                    'rgba(25, 159, 4, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 119, 11, 1)',
                    'rgba(25, 159, 77, 1)',
                    'rgba(55, 19, 64, 1)',
                    'rgba(55, 159, 624, 1)',
                    'rgba(25, 159, 4, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive:true,
        }
    });


</script>
