<div class="page-wrapper">
    <!doctype html>
    <html lang="en">

    <head>
        <title>Contact Form 02</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="/admin/css/style.css">

    </head>

    <style>
        .card__imagedetail{
            width: 30%;
            border-radius: 50px;
            box-shadow: 7px 7px 2px 1px rgba(0, 0, 255, .2);

        }

        .checkBox{
            --width:40px;
            --height:calc(var(--width)/2)
           

        }

        .checkBox__input{
           display: none;
        }

        .checkBox__fill{
            position:relative;
            width: var(--width);
            height: var(--height);
            border-radius: 20px;
            background: grey;
            transition: background 0.2s;
        }

        .checkBox__input:checked ~ .checkBox__fill{
            background: cyan;
        }

        .checkBox__fill::after{
            content:"";
            position:absolute;
            top:0;
            left:0;
            width: var(--height);
            height: var(--height);
            background: white;
            border-radius: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, .25);
            transition: transform 0.2s;
        }

         .checkBox__input:checked ~ .checkBox__fill::after{
            transform: translateX(var(--height));
        }

    </style>

    <body>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        
                            <div class="row no-gutters" style="justify-content: center">
                                <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                                    <div class="contact-wrap w-100 p-md-5 p-4">
                                        <h3 class="mb-4">Student Information</h3>
                                        
                                        <form method="POST" enctype="multipart/form-data" action="/courses/update/p/{{course._course_ID}}" class="contactForm">
                                            <div class="row">

                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <img src={{student.[User._avatar]}} alt="Cover" class="card__imagedetail">
                                                    </div>
                                                </div>



                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="name">First Name</label>
                                                        <input type="text" class="form-control" name="_courseName" id="name"
                                                            placeholder="Name" value={{student.[User._firstName]}} disabled>
                                                    </div>
                                                </div>
                                                

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="maxNumber">Last name</label>
                                                        <input type="text" class="form-control" name="_price"
                                                            id="maxNumber" placeholder="Price" min="0" value={{student.[User._lastName]}} disabled>
                                                    </div>
                                                </div>

                                                

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="room">Phone</label>

                                                       <input type="number" class="form-control" name="_star"
                                                            id="room" placeholder="Star" value={{student.[User._phone]}} disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="image">Email</label>
                                                       <input type="text" class="form-control" name="_star"
                                                            id="room" placeholder="Star" value={{student.[User._email]}} disabled>
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="label" for="image">Address</label>
                                                       <input type="text" class="form-control" name="_star"
                                                            id="room" placeholder="Star" value={{student.[User._address]}} disabled>
                                                    </div>
                                                </div>
                                               
                                               
                                                
                                               
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="/admin/js/jquery.min.js"></script>
        <script src="/admin/js/popper.js"></script>
        <script src="/admin/js/bootstrap.min.js"></script>
        <script src="/admin/js/jquery.validate.min.js"></script>
        <script src="/admin/js/main.js"></script>

    </body>

    </html>


</div>



<script>

    $('#myToggle').on("click",function(event){

        $post (`/user/ban.val()}`,{userID: $('#userID').val()}, function (data){},).fail(function (data){})

    }); 



</script>







