<div class="page-wrapper">
    <!doctype html>
    <html lang="en">

    <head>
        <title>Contact Form 02</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="/admin/css/style.css">

    </head>

    <body>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        
                            <div class="row no-gutters" style="justify-content: center">
                                <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                                    <div class="contact-wrap w-100 p-md-5 p-4">
                                        <h3 class="mb-4">Insert class</h3>
                                        
                                        <form method="POST" action="/classes/insert/p" class="contactForm">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="name">Class Name</label>
                                                        <input type="text" class="form-control" name="_className" id="name"
                                                            placeholder="Name" >
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">


                                                        <label class="label" for="course-select">Course:</label>

                                                        <select class="form-control" name="_course_ID" id="course-select">
                                                           
                                                            <option value="">--Select course--</option>
                                                            {{#each courses}}
                                                            <option value={{this._course_ID}}>{{this._name}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                </div>



                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="startDate">Start date</label>
                                                        <input type="date" class="form-control" name="_startDate" id="startDate"
                                                            >
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="endDate">End date</label>
                                                        <input type="date" class="form-control" name="_endDate" id="endDate"
                                                            >
                                                    </div>
                                                </div>


                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="schedule-select">Choose schedule 1:</label>

                                                        <select class="form-control" name="_schedule_ID_1" id="schedule-select" >
                                                            <option value="">--Select schedule 1--</option>
                                                            {{#each schedules}}
                                                            <option value={{this._schedule_ID}}>{{this._dayOfWeek}}: {{this._startHour}}-{{this._endHour}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="schedule-select">Choose schedule 2:</label>

                                                        <select class="form-control" name="_schedule_ID_2" id="schedule-select" >
                                                            <option value="">--Select schedule 2--</option>
                                                            {{#each schedules}}
                                                            <option value={{this._schedule_ID}}>{{this._dayOfWeek}}: {{this._startHour}}-{{this._endHour}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                </div>

                                                

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="maxNumber">Max Number</label>
                                                        <input type="number" class="form-control" name="_maxNumber"
                                                            id="maxNumber" placeholder="Max Number" min="0" >
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">


                                                        <label class="label" for="teacher-select">Teacher:</label>

                                                        <select class="form-control" name="_teacher_ID" id="teacher-select" >
                                                           <option value="">--Select teacher--</option>
                                                            {{#each teachers}}
                                                            <option value={{this._teacher_ID}}>{{this.[User._firstName]}} {{this.[User._lastName]}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="room">Room:</label>

                                                       <input type="text" class="form-control" name="_room"
                                                            id="room" placeholder="Room" aria-placeholder="Enter room">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="lesson">Number of lessons</label>
                                                        <input type="text" class="form-control" name="_numberOfLesson"
                                                            id="lesson" placeholder="Number of lesson" min="0" aria-placeholder="Number of lessons">
                                                    </div>
                                                </div>
                    
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="submit" value="Insert"
                                                            class="btn btn-primary">
                                                        <div class="submitting"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="/admin/js/jquery.min.js"></script>
        <script src="/admin/js/popper.js"></script>
        <script src="/admin/js/bootstrap.min.js"></script>
        <script src="/admin/js/jquery.validate.min.js"></script>
        <script src="/admin/js/main.js"></script>

    </body>

    </html>


</div>